# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Virtual environment
.venv/

# Env files
.env

# Large pickles (models/datasets)
*.pkl

# IDE
.vscode/

# macOS
.DS_Store

# Logs
*.log
